.bayon-regular {
	font-family: "Bayon", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #FFFFFF;
}

header {
	width: 100%;
	height: 80px;
	background-color: #080423;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 124px;
	h1 {
		color: #FF3DB1;
		margin-left: 92px;
		font-size: 40px;
	}
	.search {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.search-input {
		width: 400px;
		background-color: #FFFFFF;
		height: 40px;
		border-radius: 60px;
		border: none;
		outline: none;
	}
	.lens {
		margin-left: -35px;
		background-color: transparent;
		border: none;
		:hover {
			cursor: pointer;
		}
	}
}

.actors {
	color: #0F0A33;
	font-weight: 700;
	font-size: 40px;
	margin-top: 50px;
}

.actor-list {
	color: #080423;
	height: 100%;
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	gap: 30px;
}
.actor-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 15px;
	h2 {
		font-weight: 500;
		font-size: 18px;
		color: #080423;
	}
	img {
		height: 100%;
	}
}
.films-list {
	color: #080423;
	height: 100%;
	margin: 60px 60px 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
	gap: 30px;
	.film-item {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		h2 {
			font-weight: 500;
			font-size: 18px;
		}
		.year-and-rank {
			display: flex;
			justify-content: space-between;
			margin-top: 4px;
		}
		p {
			font-size: 16px;
			color: #151515;
			opacity: 0.28;
		}
		.rating {
			opacity: 1;
			font-size: 18px;
		}
		img {
			margin-bottom: 10px;
		}
	}
}

.modal {
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	.modal-content {
		background-color: #FFFFFF;
		margin: 15% auto;
		padding: 20px;
		border: 1px solid #FF3DB1;
		width: 80%;
		max-width: 1200px;
		border-radius: 8px;
		position: relative;
	}
	.modal-flex {
		display: flex;
		flex-direction: row;
		gap: 40px;
		.left-section > .movie-length {
			color: #0F0A33;
		}
		.right-section {
			margin-top: 20px;
			.description {
				color: #000000;
				font-size: 18px;
				max-width: 611px;
				margin-top: 30px;
			}
			.about {
				color: #0F0A33;
				font-weight: 700;
				font-size: 40px;
				margin-top: 50px;
			}
			.about-section {
				color: #7A7A7A;
				font-size: 18px;
				margin-top: 20px;
				display: flex;
				gap: 155px;
				.genres, .countries {
					margin-bottom: 20px;
				}
			}
		}
	}
	.main-section {
		display: grid;
		grid-template-columns: 6fr 1fr 1fr;
		gap: 30px;
		h2 {
			color: #0F0A33;
			font-weight: 700;
			font-size: 40px;
			max-width: 316px;
			hyphens: auto;
		}
		.top {
			background: linear-gradient(165deg,#ffdb80 16.44%,#ac9c71 63.42%);
			background-clip: text;
			color: transparent;
			font-size: 30px;
		}
	}
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		cursor: pointer;
	}
	.close:hover,
	.close:focus {
		color: #FF3DB1;
		text-decoration: none;
	}
}

.rating {
	color: #FFD233 !important;
	opacity: 1;
	font-size: 32px;
	font-weight: 500;
}